<h1>id=
<%= @task.id %>
のタスク詳細ページ</h1>

<div class="alt-table-responsive">
    <div class="col-xs-8 col-ms-7 col-md-5 col-lg-4">
        <table class="table table-bordered">
            <colgroup>
                <col class="col-xs-2 col-ms-2 col-md-2 col-lg-2"></col>
                <col class="col-xs-3 col-ms-3 col-md-3 col-lg-3"></col>
            </colgroup>
            <tr>
                <th>id</th>
                <td><%= @task.id %></td>
            </tr>
            <tr>
                <th>タイトル</th>
                <td><%= @task.title %></td>
            </tr>
            <tr>
                <th class>タスク</th>        
                <td class><%= @task.content %></td>
            </tr>
            <tr>
                <th>ステータス</th>        
                <td><%= @task.status %></td>
            </tr>
        </table>
    </div>
</div>
<div class='row'></div>
<%= link_to 'このメッセージを編集する', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'このメッセージを削除する', @task, method: :delete, data:{ confirm:'本当に削除してもよろしいですか？' }, class: 'btn btn-danger' %>

